* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header, .footer {
	height: 50px;
	background-color: grey;
}

.main {
	min-height: calc(100vh - 100px);
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	gap: 0;
	justify-content: start;
} 

.red {
	background-color: red;
	width: 250px;
}

.green { 
	width: 250px;
	background-color: green;
}

.section {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	width: 100%;
}

.section__image {
	display: block;
	max-height: 100%;
	float: left;
	
}

.section__text {
	background-color: yellow;
	min-height: 0;
	height: auto;
}

.section__image {
	background-color: rgb(179, 179, 179);
}


